@include font-face("Canopy Campton", "../fonts/campton-bolddemo") {font-weight: 700;};
@include font-face("Canopy Poppins", "../fonts/Poppins-Regular") {font-weight: 400;};
@include font-face("Canopy Poppins", "../fonts/Poppins-Bold") {font-weight: 700;};
