.page-content-full {
  width: 100%;
}

.third {
  width: 100%;
  @include media($medium-screen) {
    @include span-columns(4)
  }
  position: relative;
  > * {
    width: 100% !important;
  }
}

.third:last-child {
  margin-right: 0;
}